* {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	white-space: nowrap;
}

:root {
	--white: #ffffff;
	--black: #000000;
	--sky-blue: #7fa1ff;
	--medium-blue: #4062c0;
	--forest-green: #2a611a;
	--hunter-green: #308615;
	--garnet: #940000;
	--gold: #ddcc00;
	--card-dim: 18px;
	--card-time: .05s;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-stretch: narrower;
	font-weight: 700;
	font-style: oblique;
	background-color: var(--forest-green);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.game_board {
	height: auto;
	width: calc((var(--card-dim) * 6.25) * 10);
	margin-top: var(--card-dim);
	background-color: var(--forest-green);
	display: flex;
	justify-content: right;
	position: relative;
	top: 0;
}

.win_pile {
	height: calc(var(--card-dim) * 7);
	width: calc(var(--card-dim) * 6.25);
	position: relative;
} 

.card.draw {
	left: calc((var(--card-dim) / 4))
}

.card.discard {
	left: calc(6.25 * var(--card-dim))
}

.card.stack_1 {
	left: calc(2 * (6.25 * var(--card-dim)))
}

.card.stack_2 {
	left: calc(3 * (6.25 * var(--card-dim)))
}

.card.stack_3 {
	left: calc(4 * (6.25 * var(--card-dim)))
}

.card.stack_4 {
	left: calc(5 * (6.25 * var(--card-dim)))
}

.card.stack_5 {
	left: calc(6 * (6.25 * var(--card-dim)))
}

.card.stack_6 {
	left: calc(7 * (6.25 * var(--card-dim)))
}

.card.stack_7 {
	left: calc(8 * (6.25 * var(--card-dim)))
}

.card.win_spade, 
.card.win_heart, 
.card.win_club, 
.card.win_diamond {
	left: calc(9 * (6.25 * var(--card-dim)))
}

.win_piles {
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.win_pile {
	height: calc(var(--card-dim) * 8.75);
	width: calc(var(--card-dim) * 6.25);
	margin: calc(var(--card-dim) / 4);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.win_pile > .suit_img {
	height: calc(var(--card-dim) * 2);
	width: calc(var(--card-dim) * 2);
	filter: brightness(0) saturate(100%);
	filter: invert(57%) sepia(77%) saturate(557%) hue-rotate(57deg) brightness(92%) contrast(86%);
}

#win_spade > .suit_img, .card[suit='Spade'] i {
	background-image: url('/images/spade.png');
}

#win_heart > .suit_img, .card[suit='Heart'] i {
	background-image: url('/images/heart.png');
}

#win_club > .suit_img, .card[suit='Club'] i {
	background-image: url('/images/club.png');
}

#win_diamond > .suit_img, .card[suit='Diamond'] i {
	background-image: url('/images/diamond.png');
}

.card {
	/*height: calc(var(--card-dim) * 8.75);
	width: calc(var(--card-dim) * 6.25);*/
	height: fit-content;
	width: fit-content;
	border-width: calc(var(--card-dim) * .25); 
	border-color: var(--sky-blue);
	border-style: solid;
	border-radius: calc(var(--card-dim) / 2);
	background-color: var(--white);
	position: absolute;
	transition: all var(--card-time) linear;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card.selected {
	border-color: var(--gold);
}

.side {
	height: calc(var(--card-dim) * 7.5);
	width: var(--card-dim);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.side.flip {
	rotate: 180deg;
}

h1 {
	height: var(--card-dim);
	width: var(--card-dim);
	padding-top: calc(var(--card-dim) * .1);
	font-family: Arial, Helvetica, sans-serif;
	font-stretch: narrower;
	font-weight: 550;
	font-style: normal;
	font-size: calc(var(--card-dim) * .8);
	text-align: center;
	line-height: calc(var(--card-dim) * .8);
}

.card[suit='Heart'] h1, .card[suit='Diamond'] h1 {
	color: var(--garnet);
}

.card[suit='Spade'] h1, .card[suit='Club'] h1 {
	color: var(--black);
}

.center {
	height: calc(var(--card-dim) * 5.5);
	width: calc(var(--card-dim) * 3.25);
	margin-top: var(--card-dim);
	margin-bottom: var(--card-dim);
	border: calc(var(--card-dim) / 8) var(--white) solid;
	display: flex;
}

.card.face .center {
	border: calc(var(--card-dim) / 8) var(--medium-blue) solid;
	background-size: 100% 100%;
	background-repeat: no-repeat;	
}

.card.face[value='11'] .center {
	background-image: url('/images/jack.png');
}

.card.face[value='12'] .center {
	background-image: url('/images/queen.png');
}

.card.face[value='13'] .center {
	background-image: url('/images/king.png');
}

.center > .inner {
	width: var(--card-dim);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.card.face .center > .inner {
	display: flex; 
	flex-direction: column;
	justify-content: flex-start
}

.card.face .center > .inner.flip {
	rotate: 180deg;
}

i {
	height: var(--card-dim);
	width: var(--card-dim);
	background-size: 100%;
	background-repeat: no-repeat;
}

i.outer {
	height: calc(var(--card-dim) * .75);
	width: calc(var(--card-dim) * .75);
	background-size: 100%;
	background-repeat: no-repeat;
}

i.flip {
	rotate: 180deg;
}

.card.faceDown .center, .card.face.faceDown .center {
	height: calc(var(--card-dim) * 6.5);
	width: calc(var(--card-dim) * 4.25);
	margin-top: calc(var(--card-dim) * .5);
	margin-bottom: calc(var(--card-dim) * .5);
	background-image: none;
	background-color: var(--medium-blue);
	border: calc(var(--card-dim) * .5) var(--sky-blue) solid;
	border-radius: calc(var(--card-dim) * .25);
}


.card.faceDown .side {
	width: calc(var(--card-dim) * .5);
}

.card.faceDown i, .card.faceDown h1 {
	display: none;
}